{% extends 'assistant/base.html' %}

{% block content %}
    1. Хранить файлы в бд или на сервере?<br>
    2. Структура папок<br>
    3. Нейминг<br>
    4. Безопасность<br>
    <div class="box box-link">123</div>
    <div class="box box-link">456</div>
    <div class="box box-link">789</div>
    <div class="box box-link">123</div>
    <div class="box box-link">456</div>
    <div class="box box-link">789</div>
    <div class="box box-link">123</div>
    <div class="box box-link">456</div>
    <div class="box box-link">789</div>
    <div class="box box-link">123</div>
    <div class="box box-link">456</div>
    <div class="box box-link">789</div>
{% endblock %}